{%extends "navbar.html"%}
{%block content%}
{%load static%}
<div class="container-xxl">
  <div class="row row-cols-1 row-cols-xl-2">
    <div class="col-12 col-xl-2">
      <div class="p-0 sticky-top mt-3 mb-2 " id="filterbar">
      <div class="p-0 text-center bg-white accordion rounded-top-1 border border-1 mb-0" style="" id="stickybar" >
        <div class="py-0">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseprice" aria-expanded="true" aria-controls="collapseprice">
                Fiyat Filtrele
                </button>
            </h2>
            <div id="collapseprice" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-3 pt-2">
                    <span class="fw-medium pt-1" style="font-weight:500 !important">Fiyat Filtrele</span>
                    <div class="row row-cols-2 text-center mt-2 mx-0" >
                        <div class="col">
                        <input type="text" class="form-control rounded-1" placeholder="Min.">
                        </div>
                        <div class="col">
                        <input type="text" class="form-control rounded-1" placeholder="Max.">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebrand" aria-expanded="true" aria-controls="collapsebrand">
                Marka Filtrele
                </button>
            </h2>
            <div id="collapsebrand" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Marka Filtrele</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                        <ul class="list-group list-group-flush" >
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Lenovo
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Samsung
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Apple
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Msi
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Acer
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Monster
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Dell
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            HP
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Huawei
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecategory" aria-expanded="true" aria-controls="collapsecategory">
                Kategori Filtrele
                </button>
            </h2>
            <div id="collapsecategory" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Kategori Filtrele</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="max-height:200px;">
                        <ul class="list-group list-group-flush" >
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Bilgisayar
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Beyaz Eşya
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Telefon
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Beyaz Eşya
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Mutfak Aletleri
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Yazıcı
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Projeksiyon
                        </li>

                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Ses Sistemleri
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            kulaklık
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsestar" aria-expanded="true" aria-controls="collapsestar">
                Ürün Puanı
                </button>
            </h2>
            <div id="collapsestar" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Ürün Puanı</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1" style="">
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item p-1 ps-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                        <img height="13px" src = "/static/iconvs/star-orange.svg"/>
                        &nbsp;2 Yıldız ve üzeri
                        </label>
                        </li>
                        <li class="list-group-item p-1 ps-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            <img height="13px" src = "/static/iconvs/star-orange.svg"/>
                        &nbsp;3 yıldız ve üzeri
                        </label>
                        </li>
                        
                        <li class="list-group-item p-1 ps-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">  
                            <img height="13px" src = "/static/iconvs/star-orange.svg"/>
                        &nbsp;4 yıldız ve üzeri
                        </label>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-0 ">
            <h2 class="accordion-header">
                <button class="accordion-button d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseller" aria-expanded="true" aria-controls="collapseseller">
                Satıcı Filtrele
                </button>
            </h2>
            <div id="collapseseller" class="accordion-collapse collapse show" data-bs-parent="#stickybar">
                <div class="accordion-body p-4 pt-2">
                    <span class="fw-medium" style="font-weight:500 !important">Satıcı Filtrele</span>
                    <div class="text-start mt-2 py-1 border border-1 rounded-1 scroll2" style="height:200px;">
                        <ul class="list-group list-group-flush" >
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Rakun
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Boyleolur
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Denemesatici
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            pazaryeri
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 4
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 5
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 6
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 7
                        </li>
                        <li class="list-group-item py-1" onclick="checkinp(this)">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Deneme satıcı 8
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

      </div>
      
      <div class="rounded-bottom-1 border border-top-0 p-2 mt-0" style="">
        <button id="fltbtn" class="btn btn-warning rounded-1 w-100"style="font-size:13px !important;font-weight:400 !important">Filtrele</button>
      </div>
      </div>
    </div>

    <div class="col-12 col-xl-10"> 
      <div id="listdiv" class="row row-cols-2 row-cols-lg-4 text-center">
        {% for product in products %}
        <div class="col p-2 p-lg-3">
          <div class="card border border-1 shadow-sm" id="prdcard" style="">
            <a href="/urunler/{{product.slug}}" class="text-reset" style="text-decoration: none;">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light text-center" data-mdb-ripple-color="light">
              <img id="cardphoto" src="{{product.productimage}}" class="w-100" style="object-fit: contain;aspect-ratio: 1 / 1;"/>
       
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                  </div>
                </div>

            </div>
            <div class="card-body p-1 mt-0 align-middle" >   
              
                <span id="cardname" class="card-title display-3 mx-0 px-0 mb-2 text-start" style="" >{{product.productname}}</span>  
     
              <div class="d-flex justify-content-between align-items-center">
                <div id="{{product.productrating}}" class="ratings d-flex">
                    
                        <i class="align-text-middle" style="fill:#e4e4e4"><svg id="str" height="0.9em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>  
                        <i class="align-text-middle" style="fill:#e4e4e4"><svg id="str" height="0.9em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>
                        <i class="align-text-middle" style="fill:#e4e4e4"><svg id="str" height="0.9em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>
                        <i class="align-text-middle" style="fill:#e4e4e4"><svg id="str" height="0.9em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>
                        <i class="align-text-middle" style="fill:#e4e4e4"><svg id="str" height="0.9em" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg></i>
                    
                    
                    <span class="mb-0 px-0 py-0 my-0 align-text-bottom" style="font-size:11px !important;font-weight:400 !important;color:gray"> 55{{product.productratingcount}}</span>
                </div> 
              </div>  
              <div class="text-center mb-1" style="">
                <hr style="" class="mb-2 mt-0">
                <span class="mb-0" style="font-size:14px !important; font-weight:600 !important;" id="cardprice">{{product.productprice}} TL</span>
              
              </div>
            </div>
            </a>
            <button id="addbtn" type="button" class="btn w-100 rounded-bottom" style="font-weight:400 !important;height:37px" data-mdb-ripple-color="dark">Sepete Ekle</button>
          </div>
        </div>
        {% endfor %}

        <script>
            $(document).ready(function(){
                var windowWidth = $(window).width();
                if(windowWidth <= 1199)
                 
                 $('.accordion-collapse').collapse(true);
                
              });
            
              function checkinp(elem){
                elem.getElementsByTagName("input")[0].click()
              }
            
        </script>
        <script src="{% static 'js/ajaxlisting.js'%}"></script>
      </div>
    </div>
  </div>
</div>
{%endblock%}
